@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap');

*{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 160px;
}

#Contato{
  scroll-margin-top: 190px;
}

input[type="text"],[type="email"], [type="tel"]{
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid white;
  transition: border-bottom 0.4s ease;
}

input:focus, textarea:focus{
  outline: none;
  border-bottom: 1px solid #D0A854
}

input:not(:placeholder-shown) {
  background-color: transparent; 
}

input:-webkit-autofill {
  background-color: transparent !important; 
  box-shadow: 0 0 0px 1000px #f0f0f0d0 inset !important; 
  transition: background-color 5000s ease-in-out 0s; 
  border-radius: 10px;
}



h1, h2, h3, h4, h5, h6, span{
  font-family: "Roboto Slab", serif;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
}

.fundo{
  background-image: url("../public/fundo.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.radius {
  border-radius: 0 0.8rem;
  background-image: linear-gradient(14deg, #D0A854 0%, #9A793C 100%);
  transition: all 0.3s;
}

.radius:hover {
  transform: translateY(-5px); 
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background-color: #D0A854;
}

nav ul li a{
  transition: all 0.3s;
}

nav ul li a.active, nav ul li a:hover{
  border-bottom: 3px solid #D0A854;
  padding-bottom: 0.6rem;
  cursor: pointer;
  transform: translateY(-4px); 
  color: #9A793C;
}

.links a:hover, .link a:hover{
  color: #D0A854;
  cursor: pointer;
  transition: .4s;
}

.links a{
  color: #f1e8d8;
}

@media screen and (max-width: 1026px) {
  .fundo {
    background-color: #efefef;
    background-image: none;
  }

}

@media (min-width: 1490px){
  .hero{
    background-size: contain;
    padding-bottom: 10rem;
  }
} 

@media (min-width: 1496px) and (max-width: 1510px){
  .hero{
    background-size: cover;
  }
} 

@media (min-width: 1559px){
  .hero{
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .contato {
    border-radius: 0 0 0 2rem;
  }
  
  .contatos{
    border-radius: 0 0 2rem 0;
  }

  .card:hover {
    box-shadow: 0px 6px 6px 0px hsla(60, 45%, 85%, 0.25);
    transition: .4s !important;
  }
}